* {
  background-color: inherit;
}

body {
  background-color: green;
}

.color, .pixel{
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px; 
}

#color_1{
  background-color: black;
}
#color_2{
  background-color: red;
}
#color_3{
  background-color: aqua;
}
#color_4{
  background-color: yellow;
}


.pixel {
  background-color: white;
  display: inline-block;
}

.gridRow {
  margin: -4px;
}

#pixel-board{
  position: relative;
  margin-top:10px;
}

.tools{
  display: inline-block;
}
